{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                },
                "modules": false
            }
        ]
    ],
    "plugins": [["@babel/plugin-proposal-private-property-in-object", { "loose": true }]]
}
